* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  padding: 0 20px;
  margin: 0 10px;
}

h1,
h2,
h3 {
  color: #257cbb;
}

ul,
ol {
  margin-left: 40px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

p {
  margin-bottom: 20px;
  color: #313441;
  font-size: 22px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #257cbb;
}
a:hover,
a:focus {
  text-decoration: underline;
}

a:visited {
  color: #6823ad;
}

/* HEADER */
header {
  /* margin-bottom: 60px; */
  padding: 40px 20px;
  background: linear-gradient(to left, #b0d4ee, #f2f2f2, #dbdbdb, #eaeaea);
}

h1 {
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

nav {
  color: #257cbb;
}

.nav-link {
  font-size: 18px;
  text-decoration: none;
  margin: 0 10px 0;
}

.nav-link:hover,
.nav-link:focus {
  font-weight: bold;
  text-decoration: none;
}

.nav-link:visited {
  color: #257cbb;
}

.nav-link-active {
  font-weight: bold;
  text-decoration: underline;
}

/* ARTICLE */
article {
  padding: 40px 0;
}
article p:last-child {
  margin: 0;
}

h2 {
  margin-bottom: 40px;
  font-size: 32px;
}

.author-img {
  margin-bottom: 20px;
  width: 80px;
  height: auto;
}

#author {
  margin-bottom: 20px;
  font-size: 18px;
  font-style: italic;
}

.post-img {
  margin-bottom: 40px;
  width: 600px;
  height: auto;
}

h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 24px;
}

.why-list {
  list-style: square;
  padding-left: 0;
}

/* ASIDE */
aside {
  padding: 40px 0;
  border-top: 3px solid #257cbb;
  border-bottom: 3px solid #257cbb;
  background-color: #f2f2f2;
}

h4 {
  font-size: 18px;
  text-align: center;
}

.related-list {
  list-style: none;
}

.related-img {
  width: 80px;
  height: auto;
}

.related-author {
  color: #2d303b;
  font-size: 16px;
  font-weight: bold;
}

/* FOOTER */
#copyright {
  color: #2d303b;
  font-size: 16px;
  letter-spacing: 0.4px;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

.back {
  position: fixed;
  bottom: 2%;
  color: #257cbb;
}

.back:visited {
  color: #257cbb;
}
