body {
  font-family: sans-serif;
}

h1,
h2,
h3 {
  color: #257cbb;
}

ul {
  list-style: none;
}

li {
  font-size: 20px;
}

p {
  color: #313441;
  font-size: 22px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #257cbb;
}
a:hover,
a:focus {
  text-decoration: underline;
}

a:visited {
  color: #6823ad;
}

/* HEADER */
header {
  background: linear-gradient(to left, #b0d4ee, #f2f2f2, #dbdbdb, #eaeaea);
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
}

nav {
  color: #257cbb;
}

.nav-link {
  font-size: 18px;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  font-weight: bold;
  text-decoration: none;
}

.nav-link:visited {
  color: #257cbb;
}

/* ARTICLE */
h2 {
  font-size: 28px;
}

#author {
  font-size: 18px;
  font-style: italic;
}

h3 {
  font-size: 24px;
}

/* ASIDE */
aside {
  border-top: 3px solid #257cbb;
  border-bottom: 3px solid #257cbb;
}

h4 {
  font-size: 18px;
  text-align: center;
}

.related-author {
  color: #2d303b;
  font-size: 16px;
  font-weight: bold;
}

/* FOOTER */
#copyright {
  color: #2d303b;
  font-size: 16px;
  letter-spacing: 0.4px;
  text-align: center;
}
